@media screen and (min-width: 1920px) {

    .resumeBtn {
        font-size: 29px;
        ;
    }

    .youtube {
        margin-top: 0;
    }

    .contentYoutube {
        /* background-color: red; */
    }

    .contentYoutube h1 {
        font-size: 4.2rem;
        ;
    }

    .paraYoutube {
        font-size: 2.2rem;
    }

    .htmltag {
        font-size: 42px;
        top: 20%;
        left: 22%;
    }

    .lower {
        top: 75%;
        left: 22%;
        font-size: 42px;
    }

    .outerContainerNavbar {
        height: 20vh;
    }

    .navigation {
        bottom: 30vw;
    }


    .skillsSection {}

    .skillsSection h1 {
        font-size: 4rem;
        overflow: hidden;
    }

    .wrapperSkills {
        height: 65vh;
    }

    .projectSection {
        /* height: 146vh; */
    }

    .containerProjetcs {
        /* height: 121vh; */
    }

    .projectSection h1 {
        font-size: 4rem;
    }

    .projectLink a {
        font-size: 24px;
    }

    .projectLink ion-icon {
        width: 30px;
        height: 30px;
    }

    .slideshow-container {
        width: 100vw;
        margin-top: 30vh;
        /* margin-left: 10vw; */
        max-width: none;
    }

    .slideshow-container h1 {
        font-size: 4rem;
    }

    .mySlides img {
        width: 100%;
        margin-left: 0;
    }

    .form {
        max-width: none;
        width: 100%;
        height: 50%;
    }

    .text {
        font-size: 50px;
    }
    
    .aboutMe {
        width: 85vw;
        margin-left: 7.5vw;
        ;
    }

    .LeftAboutMe {
        width: 80%;
        height: 80%;
    }

    .LeftAboutMe h1 {
        font-size: 43px;
    }

    .aboutmePara {
        font-size: 34px;
    }

    .knowMoreBtn {
        width: 13vw;
        height: 8vh;
        font-size: 27px;
    }

    .knowMoreBtn ion-icon {
        width: 35px;
        height: 35px;
    }

    .socialLinks span a ion-icon {
        width: 50px;
        height: 50px;
    }
    .information p {
        font-size: 30px;

    }

    .containerContact {
        margin-top: 30vh;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer {
        margin-top: 5vh;
    }
}

