@media screen and (max-width: 416px){
    .changesNavbar{
        display: block !important;
    }
    .navigation{
        display: none;
        bottom: 46%;
        left:6px;
        width:58px;
    }
    .visible{
        display: none;
    }
    .navigation ul li a .icon {
        min-width: 45px;
    }
    .heroArea{
        height: 73vh;
        width: 100%;
        background-size:cover ;
    }
    .myName{
        margin-left: 35%;
    }
    .staticText{
        margin-left: 35%;
        font-size: 176%;
        transition: none;
    }
    .wrapper ul {
        padding-left: 0;
    }
    .AnimatedText li span{
        font-size: 30px;
        font-weight: bolder;
    }
    .htmltag{
        top: 24%;
        left: 22%;
    }
    .lower{
        top: 68%;
    }
    .resumeBtn{
        width: 18vw;
        height: 6%;
    }
    .aboutMe{
        width: 100%;
        height: 50vh;
        margin-top: 11%;
        margin-left: 0;
    }
    .LeftAboutMe{
        width: 90%;
    }
    .LeftAboutMe h1{
        font-size: 80%;
    }
    .aboutmePara{
        font-size: 70%;
    }
    .LeftAboutMe ul{
        font-size: 59%;
        height:30%;
    }
    .knowMoreBtn{
        width: 10vh;
        border: none;
        outline: none;
    }
    .knowMoreBtn a{
        font-size: 70%;
    }
    .socialLinks{
        height: 20%;
    }
    .socialLinks span ion-icon {
        width: 57%;
        height: 90%;
    }
    .skillsSection{
       width: 100%;
        margin-left: 0;
        margin-top:4vh;
    }
    .wrapperSkills{
        margin-top: 2vh;
    }
    .project{
        margin-left: 5%;
    }
    .projectSection{
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
    }
    .topHeadingSection{
        width:100%;
        height:auto;
    }
    .card{
        width:100%
    }
    .card-body{
        padding: 0;
    }
    .card-body p{
        font-size: 12px;
    }
    .card-header img {
            height: 150px;
    }
    .projectLink ion-icon{
        width: 10px;
        height: 10px;
    }
    .user-info button{
        width:100%;
        height:25px;
    }
    .user-info button a{
        font-size: 8px;
    }
    .slideshow-container {
        height: auto;
        width: 100%;
        margin-left: 0;
        max-width: none;
    }
    .mySlides img{
        width: 80%;
        height: auto;
    }
    .paraFont{
        font-size: 9px;
    } 
    .containerContact{
        width: 100%;
        margin-left: 0;;
    }
    .footer{
        margin-top: 5vh;
    }
    .footerImg{
        width: 12vh;
        height: 12vh;
    }
    .footerSocialLinks{
        /* width:190px; */
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: space-evenly;
        height:40px;
    }
    .footerSocialLinks span{
        display: flex;
        /* align-items: center; */
        justify-content: center;
        /* background-color: yellow; */
        /* width: 100%; */
    }
    .footerSocialLinks span a{
        overflow: hidden;
        text-align: center;
        margin-left: 0;
        /* background-color: blue; */
    }
    .footerSocialLinks span a ion-icon{
        width:40px;
        height:40px;
    }
}